/node_modules
npm-debug.log
Dockerfile
README.md
.dockerignore
.git
.gitignore
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc
jest.config.jest
/coverage
/test
/dist
/docker-compose
.pm2
.vscode
